<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

  <Appenders>
    <Console name="STDOUT">
      <PatternLayout pattern="%d{ABSOLUTE} %-5p [%c] (%-18t) %m%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="error">
      <AppenderRef ref="STDOUT" />
    </Root>

    <Logger name="de.gedoplan" level="debug"/>
    <Logger name="de.gedoplan.v5t11.comserver" level="debug"/>
  </Loggers>
</Configuration>